<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js" charset="utf-8"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-route.min.js" charset="utf-8"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-resource.min.js" charset="utf-8"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-animate.min.js" charset="utf-8"></script>
    <script src="js/angularApp.js" charset="utf-8"></script>
    <script src="js/controller/main.js" charset="utf-8"></script>
    <script src="js/service/service.js" charset="utf-8"></script>

    <!-- Accordion -->

    <script src="js/v-accordion.js"></script>
    <link href="css/v-accordion.css" rel="stylesheet"/>

    <!-- Start Foundation -->
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>FoodForLife | Data Cleaning</title>
    <link rel="stylesheet" href="css/foundation.css"/>
    <link rel="stylesheet" href="css/foundation-flex.css"/>
    <link rel="stylesheet" href="css/app.css"/>
        <link rel="stylesheet" href="css/style.css"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <!-- End Foundation -->

    <title>My app</title>
  </head>

  <body ng-app='volApp'>
    <div ng-view></div>
  </body>

</html>
